<div class="container cf">
  <div id ="hero"><h1><%= @category[:title] %></h1>
  <p>Here are some interesting posts found in <%= @category[:title]%>!</p>
  </div>
  <div id="lists" class="cf">
    <ul id="left">
      <% @posts[0].each do |post| %>
      <li><%= link_to post.title, category_post_path(post)  %><span>$<%= post.price %><span></li>
      <% end %>
    </ul>
    <ul id="right">
      <% @posts[1].each do |post| %>
      <li><%= link_to post.title, category_post_path(post)  %><span>$<%= post.price %><span></li>
      <% end %>
    </ul>
  </div>
  <%= link_to "Add a Post", new_category_post_path(@category) , {:class => "addlink"} %>
</div>
